<!--
/*  Ben Nesbit
 *  CS-290
 *  main.handlebars
 */
-->

<!doctype html>
<html>
<head>
	<title>Ben Nesbit Database Interaction and UI</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
	{{{body}}}
	<script src="script.js"></script>
</body>
</html>
