<h1>Your Workouts:</h1>

<br><br>

<div id = "addFormBox">
  <form id = "addForm">
    <fieldset>
      <legend>Add a workout by name!</legend>
      <label for="workoutName">Workout name:</label>
      <input type="text" name="workoutName" id="workoutName">
      <input type="submit" id="workoutNameSubmit">
    </fieldset>
  </form>
</div>

<br><br>

<p>{{results}}</p>
